<h1 class="text-center mt-4">Signup</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'form', user: @user %>
        </div>
    </div>
</div>

