<h1>All books exported</h1>

<div>
    <% @exported_books.each do |book| %>
        <h2> Book: <%= book[:book] %></h2>
        <div>
            <% if book[:exported_notes].length > 0 %>
                <h3> Notes: <%= book[:exported_notes].length %> </h3>
                <% book[:exported_notes].each do |e| %>
                    <div>
                        <div>Note: <%= e[:note] %></div>
                        Content:
                        <div>
                            <%= sanitize e[:converted_content] %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>
                    This book has no notes yet.
                </p>
            <% end %>
        </div>
    <% end %>
</div>